$item-count: 12

@keyframes arrowAnimation
  0%
    transform: translateY(0)
  50%
    transform: translateY(10px)
  100%
    transform: translateY(0)

@keyframes scrollUp 
  @for $i from 1 through $item-count
    #{percentage(($i - 1) * calc(1 / $item-count))}, #{percentage($i * calc(1 / $item-count))}
      transform: translateY(calc(-100% / $item-count) * ($i - 1))