@import 'variables.sass'
@import 'fonts.sass'

.btn-underline
  display: inline-block
  vertical-align: bottom
  -webkit-transform: perspective(1px) translateZ(0)
  transform: perspective(1px) translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  position: relative
  overflow: hidden
  padding-right: 0.8px
  a
    text-decoration: none
    font-family: Inter Regular
    color: $black
  &:before
    content: ""
    position: absolute
    z-index: -1
    left: 0
    right: 100%
    bottom: 0
    background: $orange
    height: 6px
    -webkit-transition-property: right
    transition-property: right
    -webkit-transition-duration: 0.3s
    transition-duration: 0.3s
    -webkit-transition-timing-function: ease-out
    transition-timing-function: ease-out
  &:hover:before, &:focus:before, &:active:before
    right: 0

.btn-primary
  color: $black
  border: 0.2rem solid $msuGreen
  padding: 0.5rem
  display: inline-block
  vertical-align: middle
  transform: perspective(1px) translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  position: relative
  transition-property: color
  transition-duration: 0.3s
  a
    text-decoration: none
    font-family: Inter Regular
    color: $black
  &:before 
    content: ""
    position: absolute
    z-index: -1
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: $msuGreen
    border: 0.2rem solid $msuGreen
    transform: scaleY(0)
    transform-origin: 50% 100%
    transition-property: transform
    transition-duration: 0.2s
    transition-timing-function: ease-out
  &:hover, &:focus, &:active 
    border: 0.2rem solid $msuGreen
    color: $white !important
    a
      color: $white !important
    &:before 
      transform: scaleY(1)