@font-face
  font-family: Inter Bold
  src: url(~/assets/fonts/Inter/Inter-Bold.ttf)
@font-face
  font-family: Inter SemiBold
  src: url(~/assets/fonts/Inter/Inter-SemiBold.ttf)
@font-face
  font-family: Inter Regular
  src: url(~/assets/fonts/Inter/Inter-Regular.ttf)