@import 'variables.sass'
@import 'fonts.sass'
@import 'animations.sass'
@import 'button.sass'
@tailwind base
@tailwind components
@tailwind utilities

html
  scroll-behavior: smooth
body
  background-color: $creme
  color: $black
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  p
    font-family: Inter Regular
    text-align: justify
  h1, h2
    font-family: Inter Bold
  a
    color: $orange
    text-decoration: underline
    font-family: Inter Regular
  .bg-green
    background-color: $darkVanilla
    color: $black
  .bg-vanilla
    background-color: $darkVanilla
    color: $black
  .text-orange
    color: $orange !important
  .text-green
    color: $msuGreen !important
  .text-state-green
    color: $stateGreen !important
  .text-white
    color: $white !important
  #header
    .banner
      color: $white
      background-color: $msuGreen
      border: 0.2rem solid $msuGreen
      backdrop-filter: blur(104px)
    .arguments
      p
        font-family: Inter SemiBold
        color: $darkVanilla
    .arrow-container
      animation: arrowAnimation 1.5s ease-in-out infinite
      a
        color: $orange
        text-decoration: none
  #country-visited
    background-color: $stateGreen
    color: $white
    #text-scroll
      height: 5rem
      ul
        animation: scrollUp 15s infinite
        li
          display: flex
          align-items: center
          height: 5rem
          color: $darkVanilla
  #website-creation, #projects
    h3
      font-family: Inter SemiBold
      color: $stateGreen
      a
        font-family: Inter SemiBold
        color: $stateGreen !important
  #my-skills 
    h2
      color: $stateGreen
  #professional-experiences
    background-color: $darkVanilla
    color: $black
    .divider
      height: 3px
      width: 20%
      background-color: $msuGreen
      display: inline-block
  #diploma
    background-color: $stateGreen
    color: $white
    .min-h-100
      height: 100px
  #footer
    background-color: $stateGreen
    color: $creme
  #more-skills
    h3
      font-family: Inter SemiBold
    .min-h-125
      height: 125px

@media ( max-width: 768px )
   #diploma
    .min-h-100
      height: auto !important
  