<template>
  <section id="about-me" class="md:min-h-screen container mx-auto py-16 space-y-8 flex flex-col justify-center lg:px-0 px-2">
    <div>
      <h2 class="xl:text-6xl md:text-4xl text-3xl md:self-start text-state-green">À propos de moi.</h2>
    </div>
    <div class="lg:grid lg:grid-cols-2 flex lg:flex-col flex-col-reverse">
      <div class="space-y-6 flex flex-col justify-center">
        <p>Je m'appelle <span class="bg-green p-0.5 rounded">Pierre HERAUD</span>, et j'ai {{ year() }} ans. Je suis actuellement <span class="bg-green p-0.5 rounded">développeur web</span> au sein de l'agence <span class="btn-underline"><a href="https://www.tild.fr/" target="_blank">Tild</a></span> et je travaille également en <span class="bg-green p-0.5 rounded">freelance</span>.</p>
        <p>En 2021, j'ai validé mon Master 2 en Manager de projet informatique à l'école <span class="btn-underline"><a href="https://keyce.fr/ecole-keyce/open-it/" target="_blank">Keyce Informatique</a></span>, <span class="italic">groupe Collège de Paris</span>.</p>
        <p>
          En 2013, j'ai obtenu mon Baccalauréat en Sciences et Technologies de l'Ingénieur, spécialité Développement Durable, avec une spécialisation en Énergie Environnement <span class="italic">(STI2DEE)</span>, et en 2015, mon Brevet de Technicien Supérieur en Conception et Réalisation de Systèmes Automatiques <span class="italic">(CRSA)</span>. 
          <br>Ces formations m'ont permis de développer une base de connaissances dans le domaine de l'énergie, de l'environnement, de la conception et de l'automatisation de systèmes.
        </p>
        <p>
          Sur ce site, je souhaite partager mon parcours professionnel et académique. Vous pourrez découvrir mes projets et compétences dans le domaine du développement web, ainsi que mes connaissances en réseaux et cybersécurité.
        </p>
      </div>
      <div class="lg:w-2/4 w-full mx-auto flex justify-center items-center lg:mb-0 mb-6">
        <img class="rounded-2xl" src="/images/about-me.webp" alt="Pierre HERAUD - About me">
      </div>
    </div>
  </section>
</template>

<script>
export default {
  methods: {
    year() {
      const today = new Date()
      const myBirthday = new Date('1994-06-23')
      let results = today.getFullYear() - myBirthday.getFullYear()
      if(today.getMonth() < myBirthday.getMonth() || 
        (today.getMonth() === myBirthday.getMonth() && today.getDate() < myBirthday.getDate())) {
          results--
      }
      return results
    }
  }
}
</script>