<template>
  <section id="country-visited">
    <div class="py-6 flex items-center justify-center sm:flex-row flex-col">
      <div id="text-scroll" class="overflow-hidden">
        <ul class="flex flex-col sm:items-end items-center">
          <li class="md:text-4xl text-3xl italic">Bonjour,</li>
          <li class="md:text-4xl text-3xl italic">Good morning,</li>
          <li class="md:text-4xl text-3xl italic">Guten Morgen,</li>
          <li class="md:text-4xl text-3xl italic">God morgen,</li>
          <li class="md:text-4xl text-3xl italic">Buenos dias,</li>
          <li class="md:text-4xl text-3xl italic">Jó reggelt kívánok,</li>
          <li class="md:text-4xl text-3xl italic">Maidin mhaith,</li>
          <li class="md:text-4xl text-3xl italic">Buongiorno,</li>
          <li class="md:text-4xl text-3xl italic">Salama,</li>
          <li class="md:text-4xl text-3xl italic">Dobré ráno,</li>
          <li class="md:text-4xl text-3xl italic">Dobro jutro,</li>
          <li class="md:text-4xl text-3xl italic">Bonjour,</li>
        </ul>
      </div>
      <span class="md:text-4xl text-3xl ml-2">des pays que j'ai visités.</span>
    </div>
  </section>
</template>