<template>
  <section id="defi" class="container mx-auto py-16 space-y-8 flex flex-col justify-center lg:px-0 px-2">
    <div class="lg:grid lg:grid-cols-2 flex flex-col">
      <div class="lg:w-4/6 w-full mx-auto flex justify-center items-center flex-col lg:mb-0 mb-6">
        <img src="/images/defi.webp" alt="Preikestolen, Norvège - Pierre HERAUD" class="rounded-2xl">
        <small class="self-baseline italic indent-2">Preikestolen, Norvège</small>
      </div>
      <div class="space-y-6 flex flex-col justify-center">
        <p class="text-xl">En tant que développeur web et passionné de voyages, j'aborde chaque défi du développement avec l'enthousiasme et la détermination que j'emploie lors de l'ascension d'un nouveau sommet.</p>
        <p class="text-xl">Chaque victoire, qu'elle représente un pic montagneux ou une solution complexe de programmation, est un pas de plus dans mon périple de découverte et d'apprentissage constant.</p>
      </div>
    </div>
  </section>
</template>