<template>
  <section id="diploma">
    <div class="container mx-auto py-16 space-y-8 flex flex-col justify-center lg:px-0 px-2">
      <div>
        <h2 class="xl:text-6xl md:text-4xl text-3xl md:self-start">Diplômes.</h2>
      </div>
      <div class="lg:grid lg:grid-cols-4 flex flex-col gap-x-8 gap-y-8">
        <div class="space-y-4">
          <p class="text-xs flex items-center gap-x-2"><img src="/images/calendar-diploma.svg" alt="Pierre HERAUD - Icône calendrier">2019 - 2021</p>
          <p class="flex items-start gap-x-2 min-h-100"><img src="/images/diploma.svg" alt="Pierre HERAUD - Icône diplôme">Formation RNPC Bac +5 - Manager de projet informatique</p>
          <p class="flex items-start gap-x-2"><img src="/images/place-diploma.svg" alt="Pierre HERAUD - Icône lieu">Keyce Informatique, Collège de Paris (Campus de Montpellier)</p>
        </div>
        <div class="space-y-4">
          <p class="text-xs flex items-center gap-x-2"><img src="/images/calendar-diploma.svg" alt="Pierre HERAUD - Icône calendrier">2016 - 2019</p>
          <p class="flex items-start gap-x-2 min-h-100"><img src="/images/diploma.svg" alt="Pierre HERAUD - Icône diplôme">Bachelor of Science 1 - Spécialiste en informatique</p>
          <p class="flex items-start gap-x-2"><img src="/images/place-diploma.svg" alt="Pierre HERAUD - Icône lieu">SUPINFO International University (Campus de Montpellier)</p>
        </div>
        <div class="space-y-4">
          <p class="text-xs flex items-center gap-x-2"><img src="/images/calendar-diploma.svg" alt="Pierre HERAUD - Icône calendrier">2013 - 2015</p>
          <p class="flex items-start gap-x-2 min-h-100"><img src="/images/diploma.svg" alt="Pierre HERAUD - Icône diplôme">BTS Conception et Réalisation de Systèmes Automatiques (CRSA)</p>
          <p class="flex items-start gap-x-2"><img src="/images/place-diploma.svg" alt="Pierre HERAUD - Icône lieu">Lycée Paul Langevin (Martigues)</p>
          <p><span class="text-orange">→ </span><span class="btn-underline"><a class="mt-2 text-white" href="https://www.youtube.com/watch?v=N4mgsbqTxDE" target="_blank">Voir mon projet</a></span></p>
        </div>
        <div class="space-y-4">
          <p class="text-xs flex items-center gap-x-2"><img src="/images/calendar-diploma.svg" alt="Pierre HERAUD - Icône calendrier">2011 - 2013</p>
          <p class="flex items-start gap-x-2 min-h-100"><img src="/images/diploma.svg" alt="Pierre HERAUD - Icône diplôme">BAC Sciences et Technologies de l'Ingénieur Développement Durable - Spécialité Énergie Environnement (STI2DEE)</p>
          <p class="flex items-start gap-x-2"><img src="/images/place-diploma.svg" alt="Pierre HERAUD - Icône lieu">Lycée Paul Langevin (Martigues)</p>
          <p><span class="text-orange">→ </span><span class="btn-underline"><a class="mt-2 text-white" href="https://www.youtube.com/watch?v=slWq4ZOBcjo" target="_blank">Voir mon projet</a></span></p>
        </div>
      </div>
    </div>
  </section>
</template>