<template>
  <div id="footer" class="space-y-8">
    <div
      class="container mx-auto py-8 space-y-8 flex flex-col justify-center lg:px-0 px-2"
    >
      <div class="flex gap-x-8 justify-center">
        <div class="flex gap-x-1 items-center">
          <img src="/images/gitlab.svg" alt="Pierre HERAUD - Icône Gitlab" /><p class="uppercase"><span class="btn-underline"><a class="text-white" href="https://gitlab.com/Akileine13" target="_blank">Gitlab</a></span></p>
        </div>
        <div class="flex gap-x-1 items-start">
          <img
            src="/images/linkedin.svg"
            alt="Pierre HERAUD - Icône LinkedIn"
          />
          <p class="uppercase"><span class="btn-underline"><a class="text-white" href="https://www.linkedin.com/in/pierre-heraud-1b128112b/" target="_blank">LinkedIn</a></span></p>
        </div>
        <div class="flex gap-x-1 items-center">
          <img
            src="/images/instagram.svg"
            alt="Pierre HERAUD - Icône Instagram"
          />
          <p class="uppercase"><span class="btn-underline"><a class="text-white" href="https://www.instagram.com/pierreheraud/" target="_blank">Instagram</a></span></p>
        </div>
      </div>
      <div>
        <p class="text-center">Pierre HERAUD - {{ new Date().getFullYear() }}</p>
      </div>
    </div>
  </div>
</template>