<template>
  <section id="header">
    <div
      class="container mx-auto min-h-screen flex flex-col justify-between items-center lg:px-0 px-2"
    >
      <div class="banner-space mt-8"></div>
      <div
        class="banner flex justify-between sm:px-6 px-4 py-4 rounded-2xl sm:mt-8 mt-2 lg:w-1/2 md:w-3/4 w-full fixed z-50"
      >
        <div>
          <h1 class="sm:text-base text-sm">Pierre HERAUD - Développeur web</h1>
        </div>
        <div class="flex gap-x-2">
          <a href="https://gitlab.com/Akileine13" target="_blank">
            <img src="/images/gitlab.svg" alt="Pierre HERAUD - Icône Gitlab" />
          </a>
          <a href="https://www.linkedin.com/in/pierre-heraud-1b128112b/" target="_blank">
            <img
              src="/images/linkedin.svg"
              alt="Pierre HERAUD - Icône LinkedIn"
            />
          </a>
          <a href="https://www.instagram.com/pierreheraud/" target="_blank">
            <img
              src="/images/instagram.svg"
              alt="Pierre HERAUD - Icône Instagram"
            />
          </a>
        </div>
      </div>
      <div class="arguments w-full self-center">
        <p class="md:text-7xl sm:text-5xl text-4xl">Code.</p>
        <p class="md:text-7xl sm:text-5xl text-4xl text-orange">Créativité.</p>
        <p class="md:text-7xl sm:text-5xl text-4xl text-green">Développement web.</p>
      </div>
      <div class="mb-24 arrow-container cursor-pointer">
        <NuxtLink :to="{ path: '/', hash: '#about-me' }" class="arrow text-3xl"
          >↓</NuxtLink
        >
      </div>
    </div>
  </section>
</template>