<template>
  <section id="my-hobbies">
    <div
      class="container mx-auto py-16 space-y-8 flex flex-col justify-center lg:px-0 px-2"
    >
      <div>
        <h2
          class="xl:text-6xl md:text-4xl text-3xl md:self-start text-state-green"
        >
          Mes hobbies.
        </h2>
      </div>
      <client-only>
        <div class="lg:grid lg:grid-cols-4 flex flex-col gap-x-16">
          <div>
            <Vue3Lottie animationLink="/images/development.json" />
            <p class="text-xl text-center">Le développement web.</p>
          </div>
          <div>
            <Vue3Lottie animationLink="/images/walk.json" />
            <p class="text-xl text-center">Les voyages et les randonnées.</p>
            <p class="text-sm text-center"><span class="btn-underline"><a class="mt-2" href="https://www.instagram.com/pierreheraud/" target="_blank">@pierreheraud</a></span></p>
          </div>
          <div>
            <Vue3Lottie animationLink="/images/bike.json" />
            <p class="text-xl text-center">Le sport.</p>
          </div>
          <div>
            <Vue3Lottie animationLink="/images/cooking.json" />
            <p class="text-xl text-center">La cuisine.</p>
            <p class="text-sm text-center"><span class="btn-underline"><a class="mt-2" href="https://www.instagram.com/vegginefr" target="_blank">@vegginefr</a></span></p>
          </div>
        </div>
      </client-only>
    </div>
  </section>
</template>