<template>
  <section id="my-skills" class="lg:px-0 px-2">
    <div class="container mx-auto w-full py-16 space-y-8">
      <div>
        <h2 class="xl:text-6xl md:text-4xl text-3xl mb-16 text-state-green">
          Compétences web.
        </h2>
      </div>
      <Carousel
        :itemsToShow="5.95"
        :wrapAround="true"
        :transition="1500"
        :autoplay="1000"
        :breakpoints="breakpoints"
        class="cursor-grab"
      >
        <Slide v-for="slide in slides" :key="slide.id" class="pb-8">
          <div class="carousel__item">
            <img
              :src="`/images/${slide.url}`"
              :alt="`Pierre HERAUD - ${slide.alt}`"
            />
          </div>
        </Slide>
      </Carousel>
      <div class="text-center pt-8">
        <NuxtLink :to="{ path: '/more-skills' }"><button class="btn-primary text-lg rounded-lg">Plus d'informations</button></NuxtLink>
      </div>
    </div>
  </section>
</template>

<script>
import { Carousel, Slide } from "vue3-carousel";
import "vue3-carousel/dist/carousel.css";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      breakpoints: {
        1024: {
          itemsToShow: 6.05,
        },
        700: {
          itemsToShow: 4,
        },
        100: {
          itemsToShow: 2,
        },
      },
      slides: [
        {
          id: 1,
          url: "vuejs.svg",
          alt: "Vue.js",
        },
        {
          id: 2,
          url: "sass.svg",
          alt: "Sass",
        },
        {
          id: 3,
          url: "nodejs.svg",
          alt: "Node.js",
        },
        {
          id: 4,
          url: "sequelizejs.svg",
          alt: "Sequelize",
        },
        {
          id: 5,
          url: "wordpress.svg",
          alt: "Wordpress",
        },
        {
          id: 6,
          url: "prestashop.svg",
          alt: "Prestashop",
        },
        {
          id: 7,
          url: "mysql.svg",
          alt: "MySQL",
        },
        {
          id: 8,
          url: "git.svg",
          alt: "Git",
        },
        {
          id: 9,
          url: "docker.svg",
          alt: "Docker",
        },
        {
          id: 10,
          url: "photoshop.svg",
          alt: "Photoshop",
        },
        {
          id: 11,
          url: "html-5.svg",
          alt: "HTML 5",
        },
        {
          id: 12,
          url: "css-3.svg",
          alt: "CSS 3",
        },
        {
          id: 13,
          url: "bootstrap.svg",
          alt: "Bootstrap",
        },
        {
          id: 14,
          url: "linux.svg",
          alt: "Linux",
        },
        {
          id: 15,
          url: "nuxt-3.svg",
          alt: "Nuxt 3",
        },
        {
          id: 16,
          url: "tailwind-css.svg",
          alt: "Tailwind CSS",
        },
      ],
    };
  },
};
</script>