<template>
  <section id="professional-experiences">
    <div class="container mx-auto py-16 space-y-8 flex flex-col justify-center lg:px-0 px-2">
      <div>
        <h2 class="xl:text-6xl md:text-4xl text-3xl md:self-start text-state-green">Expériences professionnelles.</h2>
      </div>
      <div>
        <p>CDI à Tild - Novembre 2021 à aujourd'hui : création d'une plateforme pour Collège de Paris en Vue.js, Node.js et Sequelize. Utilisation des CMS Wordpress et Joomla.</p>
        <span class="divider my-6"></span>
        <p>Alternance à Tild - 10 mois : création d'une plateforme pour Collège de Paris en Vue.js, Node.js et Sequelize. Utilisation des CMS Wordpress et Joomla.</p>
        <span class="divider my-6"></span>
        <p>Alternance à Suncha (anciennement Bodéva communication) - 2 ans et demi : création de sites web en HTML 5, CSS 3, Bootstrap 4, PHP 7 et JavaScript (jQuery). Utilisation des CMS Wordpress et Prestashop. Maintenance de sites web (mise à jour et sécurité).</p>
        <span class="divider my-6"></span>
        <p>Stage à Aqena - 4 mois : création d'un site web et configuration d'un serveur web pour l'installation de Nextcloud.</p>
        <span class="divider my-6"></span>
        <p>Stage au Centre Hospitalier de Martigues - 3 mois : maintenance de machines en blanchisserie.</p>
        <span class="divider my-6"></span>
        <p>Missions intérimaires diverses au sein de grandes enseignes - 1 an : Asics, Maisons du monde, Duo industrie, Eurocopter, la Poste, FNAC...</p>
      </div>
    </div>
  </section>
</template>