<template>
  <section id="website-creation" class="container mx-auto py-16 space-y-8 flex flex-col justify-center lg:px-0 px-2">
    <div>
      <h2 class="xl:text-6xl md:text-4xl text-3xl md:self-start text-state-green">Créations web.</h2>
    </div>
    <div class="lg:grid lg:grid-cols-3 gap-6 flex flex-col">
      <div class="shadow-2xl p-6 rounded-2xl space-y-6">
        <img src="/images/laetitia-heraud.webp" alt="Pierre HERAUD - Projet Laetitia Heraud">
        <h3 class="text-2xl inline-block uppercase underline"><a href="https://laetitia-heraud.fr" target="_blank">Laëtitia Heraud</a></h3><span class="inline-block bg-vanilla mx-2 p-0.5 rounded">Freelance</span>
        <p class="italic">Nuxt.js - Tailwind CSS</p>
        <p>Conseil et conception du site. Sécurisation du site et optimisation du référencement naturel. Accompagnement complet du client sur ce projet de création de site vitrine. Hébergement sur un serveur ubuntu avec <span class="btn-underline"
              ><a href="https://caddyserver.com/" target="_blank">Caddy</a></span>.</p>
        <p class="btn-underline italic"><a href="https://laetitia-heraud.fr" target="_blank" class="link-website">laetitia-heraud.fr</a></p>
      </div>
      <div class="shadow-2xl p-6 rounded-2xl space-y-6">
        <img src="/images/alma-mater.webp" alt="Pierre HERAUD - Projet Alma Mater">
        <h3 class="text-2xl inline-block uppercase underline">Alma Mater</h3><span class="inline-block bg-vanilla mx-2 p-0.5 rounded">Entreprise</span>
        <p class="italic">Vue.js - Node.js - Sequelize - Vuesax - Tailwind CSS</p>
        <p>Développement d'un outil de Gestion de la relation client <span class="italic">(CRM)</span> et d'un Enterprise resource planning <span class="italic">(ERP)</span> pour les écoles membres du groupe <span class="btn-underline"><a href="https://www.collegedeparis.fr/" target="_blank">Collège de Paris</a></span>. Ce projet vise à fournir des solutions digitales sur-mesure pour optimiser la gestion de ces établissements scolaires. Utilisation de la méthode scrum.</p>
      </div>
      <div class="shadow-2xl p-6 rounded-2xl space-y-6">
        <img src="/images/planytio.webp" alt="Pierre HERAUD - Projet Planyt.io">
        <h3 class="text-2xl inline-block uppercase underline"><a href="https://www.planyt.io/" target="_blank">Planyt.io</a></h3><span class="inline-block bg-vanilla mx-2 p-0.5 rounded">Freelance</span>
        <p class="italic">Vue.js - Node.js - Sequelize - Tailwind CSS</p>
        <p>Développement du site vitrine. Réalisation de l'application web avec un développement en cours. Ce projet personnel me permet de mettre en pratique mes compétences technique sur une application web de A à Z.</p>
        <p class="btn-underline italic"><a href="https://www.planyt.io/" target="_blank" class="link-website">planyt.io</a></p>
      </div>
    </div>
    <div class="text-center pt-8">
      <NuxtLink :to="{ path: '/my-project' }"><button class="btn-primary text-lg rounded-lg">Tous mes projets</button></NuxtLink>
    </div>
  </section>
</template>