<template>
  <section id="work-with-me">
    <div class="container mx-auto py-16 space-y-4 flex flex-col justify-center lg:px-0 px-2">
      <p class="text-center text-xl">Envie de travailler avec moi ?</p>
      <p class="text-center text-xl">Une question à propos de mes projets ?</p>
      <p class="text-center text-xl">Sur mon parcours ?</p>
      <a href="mailto:pierre@heraud.dev" class="text-center text-xl text-orange">pierre@heraud.dev</a>
      <a href="https://wa.me/message/S2RMR2WHUZ7FO1" target="_blank" class="text-center text-xl text-orange">WhatsApp</a>
    </div>
  </section>
</template>