<template>
  <main>
    <Header/>
    <AboutMe/>
    <CountryVisited/>
    <WebsiteCreations/>
    <MySkills/>
    <Defi/>
    <ProfessionalExperiences/>
    <Diploma/>
    <MyHobbies/>
    <WorkWithMe/>
  </main>
</template>

<script setup>
useHead({
  title: 'Pierre HERAUD - Développeur web freelance',
  meta: [
    { name: 'description', content: 'Développeur web freelance & salarié chez Tild. Diplômé d\'un Master en informatique. Création de sites web innovants et sur-mesure. Découvrez mon expertise en développement full-stack et cybersécurité.' }
  ]
});
</script>