<template>
  <main>
    <section id="more-skills">
      <div class="container mx-auto w-full py-16 space-y-8 lg:px-0 px-2">
        <div>
          <h2 class="xl:text-6xl md:text-4xl text-3xl mb-16 text-state-green">
            Compétences web.
          </h2>
        </div>
        <div class="lg:grid lg:grid-cols-4 flex flex-col gap-x-8 gap-y-8">
          <div 
            v-for="slide in slides"
            :key="slide.id"
          >
          <div class="min-h-125 flex items-center justify-center">
            <img
              :src="`/images/${slide.url}`"
              :alt="`Pierre HERAUD - ${slide.alt}`"
            />
          </div>
          <h3 class="text-lg">{{ slide.alt }}</h3>
          <p>{{ slide.description }}</p>
          </div>
        </div>
        <div class="text-center pt-8">
          <NuxtLink :to="{ path: '/', hash: '#my-skills' }"><button class="btn-primary text-lg rounded-lg">Retour</button></NuxtLink>
        </div>
      </div>
    </section>
  </main>
</template>
<script>
// useHead({
//   title: 'Pierre HERAUD - Développeur web freelance',
//   meta: [
//     { name: 'description', content: 'Développeur web freelance & salarié chez Tild. Diplômé d\'un Master en informatique. Création de sites web innovants et sur-mesure. Découvrez mon expertise en développement full-stack et cybersécurité.' }
//   ],
// });

export default {
  data() {
    return {
      slides: [
        {
          id: 1,
          url: "vuejs.svg",
          alt: "Vue.js",
          description: "Grâce à mon poste de développeur web chez Tild, j'ai pu me spécialiser dans le framework JavaScript Vue.js et participer à la création de plusieurs projets utilisant cette technologie. J'ai également mis en application mes compétences en Vue.js dans des projets personnels comme le site web Planyt.io, ce qui m'a permis d'approfondir mes connaissances de ce framework côté front-end. Ces expériences m'ont apporté une expertise solide en développement d'applications web avec Vue.js."
        },
        {
          id: 2,
          url: "sass.svg",
          alt: "Sass",
          description: "J'ai appris à utiliser le préprocesseur Sass de manière autodidacte dans le cadre de projets personnels. J'apprécie ses avantages en termes d'organisation du code, de variables, de mixins et de nesting. Bien que je n'aie pas encore utilisé Sass professionnellement, mes projets personnels m'ont permis de développer une solide expertise de ce préprocesseur CSS que je pourrai mettre à profit dans mon travail."
        },
        {
          id: 3,
          url: "nodejs.svg",
          alt: "Node.js",
          description: "Mon poste de développeur web chez Tild m'a permis de me spécialiser dans la création d'APIs robustes avec Node.js et Express. J'ai pu mettre en place des architectures serverless évolutives et intégrer des bases de données. Grâce à cette expérience, Node.js est devenu mon environnement de prédilection pour développer des backends solides de A à Z. Je maîtrise totalement la mise en place de serveurs Node.js ainsi que la gestion des erreurs et des performances. Mon expertise back-end avec Node.js est un atout clé pour construire des projets web complets."
        },
        {
          id: 4,
          url: "sequelizejs.svg",
          alt: "Sequelize",
          description: "Grâce à des projets chez Tild, j'ai acquis une solide expertise dans Sequelize, un ORM Node.js pour interagir avec les bases SQL. J'ai eu l'occasion d'utiliser la majorité de ses fonctionnalités clés : modélisation, requêtage, associations, validations, etc. Sequelize est devenu mon outil de prédilection pour développer rapidement des backends Node.js robustes, aussi bien en contexte professionnel que personnel. Ma maîtrise de cet ORM fait de moi un développeur Node.js full-stack efficace."
        },
        {
          id: 16,
          url: "tailwind-css.svg",
          alt: "Tailwind CSS",
          description: "J'ai appris et me suis spécialisé dans Tailwind CSS, d'abord via des projets personnels puis de manière approfondie chez Tild. C'est devenu un outil indispensable pour mes développements front-end grâce à sa flexibilité."
        },
        {
          id: 15,
          url: "nuxt-3.svg",
          alt: "Nuxt",
          description: "Dans la continuité de mon apprentissage de Vue.js, j'ai exploré le framework Nuxt3 pour développer ce site web personnel. Nuxt combine la puissance de Vue.js et la génération de sites statiques."
        },
        {
          id: 9,
          url: "docker.svg",
          alt: "Docker",
          description: "J'ai acquis les bases de Docker lors de mon emploi chez Tild. Je souhaite approfondir mes connaissances sur cet outil de conteneurisation, devenu incontournable dans le développement d'applications. Mon objectif est de perfectionner mes compétences Docker pour l'utiliser efficacement dans mes futurs projets."
        },
        {
          id: 14,
          url: "linux.svg",
          alt: "Linux",
          description: "J'utilise Linux pour héberger mes sites web personnels. J'ai une expérience pratique d'installation et configuration des serveurs Apache, Nginx et Caddy. J'ai aussi installé et administré Nextcloud sur Linux."
        },
        {
          id: 5,
          url: "wordpress.svg",
          alt: "Wordpress",
          description: "J'ai développé de solides compétences WordPress grâce à mon alternance chez Suncha et à des projets personnels. J'ai une bonne maîtrise de l'administration, des plugins, des thèmes ainsi que de la customisation du code. Mon expérience en agence et sur mes propres développements fait de moi un développeur web à l'aise pour créer et gérer des sites de qualité avec WordPress."
        },
        {
          id: 6,
          url: "prestashop.svg",
          alt: "Prestashop",
          description: "Lors de mon alternance chez Suncha, j'ai travaillé sur un projet e-commerce avec PrestaShop. Cette expérience m'a permis de découvrir ce CMS dédié à la vente en ligne et d'acquérir les bases de la création d'une boutique complète. Bien que je n'aie pas réutilisé PrestaShop depuis, ce projet m'a sensibilisé aux enjeux techniques des plateformes e-commerce."
        },
        {
          id: 7,
          url: "mysql.svg",
          alt: "MySQL",
          description: "Bien que MySQL ne soit pas ma préférence, l'utilisation de Sequelize m'a permis d'acquérir les bases de ce SGBDR : création de tables, requêtage, jointures, etc. Je peux désormais comprendre et interagir avec une base MySQL pour répondre aux besoins basiques d'un projet web."
        },
        {
          id: 8,
          url: "git.svg",
          alt: "Git",
          description: "J'utilise Git comme système de contrôle de version depuis mes premiers projets web. Cet outil est devenu incontournable dans ma pratique quotidienne du développement logiciel et web. Je maîtrise les fonctionnalités clés de Git : commits, branches, merge, remote, etc. Mon expertise avec Git me permet de travailler efficacement en équipe et de mener à bien mes projets."
        },
        {
          id: 10,
          url: "photoshop.svg",
          alt: "Photoshop",
          description: "J'utilise Photoshop en autodidacte pour créer des logos, réaliser des montages et retouches photo pour mes projets personnels. Cet apprentissage en solo m'a permis de me familiariser avec les principales fonctionnalités de Photoshop pour la conception graphique."
        },
        {
          id: 11,
          url: "html-5.svg",
          alt: "HTML 5",
          description: "J'ai appris HTML5 de manière autodidacte. Ce langage de structuration web est la base de tous mes projets de développement front-end. Je maîtrise les nouveautés et bonnes pratiques du HTML5."
        },
        {
          id: 12,
          url: "css-3.svg",
          alt: "CSS 3",
          description: "J'ai appris CSS3 en autodidacte en parallèle de HTML5. Je maîtrise les fonctionnalités clés de CSS3 comme les animations, transitions, flexbox, grid, etc. CSS3 est indispensable à mes développements front-end."
        },
        {
          id: 13,
          url: "bootstrap.svg",
          alt: "Bootstrap",
          description: "J'ai commencé à utiliser Bootstrap lors de mes débuts en développement web pour gagner en rapidité et faciliter la création de sites responsive. Ce framework CSS reste un outil pratique que j'utilise régulièrement."
        },
      ],
    };
  },
};
</script>